<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR CODE GENERATOR</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="/js/index.js"></script>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <h1 class="text-3xl text-center font-bold text-clifford">
    Welcome to QR SVG Generator!
  </h1>
  <div class="flex flex-col text-center items-center justify-center">
    <div class="flex flex-col mt-2 items-center justify-center">
      <label for="text" class="text-xl font-bold text-clifford">
        Enter the text you want to convert to QR code:
      </label>
      <input type="text" id="text" class="border-2 border-clifford rounded-md p-2 m-2" />
      <button id="generate" class="bg-clifford bg-cyan-400 p-2 rounded-md m-2 hover:bg-cyan-500 hover:text-white">
        Generate QR Code
      </button>
    </div>
    <div id="qr" class="m-2"></div>
  </div>
</body>

</html>